#mainSection {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

#mainSection .Box {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.actionBlock {
  display: flex;
  justify-content: space-between;
}

.actionBlock h4 {
  margin: 0;
}

#mainSection .Box .actionBlock button,
#BuyBlock button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#BuyBlock button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  margin-top: 18px;
  display: block;
}

#BuyBlock {
  margin-top: 20px;
}

#mainSection .Box h1 {
  margin: 0;
}

#Header {
  display: flex;
  justify-content: space-between;
}

#Header button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

#Header button span {
  margin-right: 5px;
}

#Header img {
  width: 150px;
}